{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/destructuring-assignment": 0,
    "comma-dangle": 0,
    "linebreak-style": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  }
}
